:root {
    --main-color: #B5D5C5;
    --secondary-color: #F5F5DC;
    --borader-round: 10%;
    --minimum-size: 1095px;

}


/* Elements */


a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    min-width: var(--minimum-size);
    background-color: var(--main-color);
    position: relative;
}

button {
    font-weight: bold;
    height: 30px;
    width: 100px;
    background-color: #ECA869;
    border-radius: 12px;
}

button:hover {
    background-color: #c99769;
}

footer {
    background-color: var(--main-color);
    width: 100%;
    margin-top: 50px;
    /* position: fixed;
    bottom: 0px;
    /* padding: 50px 0px 50px; */
    /* min-width: var(--minimum-size); */
}

form {
    padding-bottom: 20px;
}

header {
    background-color: var(--main-color);
    /* min-width: var(--minimum-size); */
    display: flex; 
    justify-content: flex-end;
    height: 75px;
    width: 100%;
    position: fixed;
    z-index: 2;
}

html {
    scroll-behavior: smooth;
}

h1 {
    padding-left: 15px;
    padding-right: 17px;
    padding-bottom: 250px;
    text-align: right;
}

h2 {
    padding: 20px 0 20px 0;
    margin: 0;
    /* text-align: right; */
}

h3 {
    padding-left: 17px;
    padding-top: 17px;
}

img {
    width: 400px;
    height: auto;
}

input {
    width: 20%;
    min-width: 300px;
    margin: 5px 0 5px 0;
}

/* label {
    padding-top: 10px;
} */

p {
    text-align: center;
    overflow-wrap: break-word;
    font-size: 17px;
    padding-right: 55px; 
    width: auto;
    word-wrap: break-word;
}

textarea{
    width: 30%;
    min-width: 300px;
    height: 300px;
    margin: 5px 0 5px 0;
}

ul {
    list-style-type: none;
}


/* Classes */


.column_left {
    flex: 20%;
    width: auto;
    min-width: 146px;
    height: auto;
    box-shadow: 5px 0px 0px 0px black;
  }

.column_center {
    flex: 60%;
    padding-left: 20px;
    /* margin-right: 10px; */
  }

.column_right {
    flex: 20%;
    min-width: 80px;
    margin-right: 50px;
}

.contact_list_item {
    font-size: 17px;
    padding-top: 10px; 
    padding-left: 10%;
}

.href_special {
    color: rgb(17, 168, 255);
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.list-left {
    flex: 50%;
    text-align: right;
}

.list-right {
    flex: 50%;
    text-align: left;
    padding-left: 5px;
}

.nav_topic {
    display: inline-block;
    text-align: right;
}

.project_text {
    border-style: groove;
    text-align: center;
    font-size: 20px;
    padding: 7px;
    margin: 5px;
    width: 130px;
    height: auto;
    background-color: rgb(252, 247, 241);
    font-weight: bold;
    
}

.project_small {
    /* min-width: 257px;
    max-width: 750px; */
    width: 650px;
    height: 190px;
    border-style:solid;
    margin: 15px 15px 15px 0px;
    padding-left: 7px;
    cursor: pointer;
    position: relative;
}

.row {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.italic {
    font-style: italic;
    font-size: 20px;
}

/* ID's */


#about_me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--secondary-color);
    padding-top: 50px;
    padding-bottom: 50px;
}

#bio {
    min-height: 270px;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 17px;
    padding-top: 50px;
    padding-bottom: 50px;
}
 
#background_field {
    height: 500px;
    background-image: url("https://images.pexels.com/photos/388415/pexels-photo-388415.jpeg?cs=srgb&dl=pexels-jahoo-clouseau-388415.jpg&fm=jpg");
    background-position: 0px -1000px;
    margin-bottom: 50px;
}

/* #div-footer {
    background-color: var(--main-color);
    height: fit-content;
    width: auto;
} */

#certification {
    padding: 0;
    justify-content: left;
}

#contact_me {
    flex: 19%;
    padding-left: 0;
    margin-bottom: 0%;
}

#email-form {
    justify-content: center;
    text-align: center;
    padding: 50px auto 50px auto;
    background-color: var(--secondary-color);
}

#logo {
    width: 21px;
    padding-left: 1px;
    padding-right: 1px;
}

#main_image {
    width: 100%;
}

#my_name {
    font-size: 200%;
    max-height: 100%;
    max-width: 700px;
}

#navbar {
    padding-top: 5px;
    padding-right: 50px;
    display: inline-block;
    
}

#profile_pic {
    height: auto;
    width: 300px;
    border-radius: var(--borader-round);
    border-style: groove;
    border-color: black;
    position: relative;
    /* right: 10%; */
    left: 65%;
    bottom: 1000px;    
    background-color: var(--secondary-color);
}

#projects {
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: auto;
    padding-right: auto;
    justify-content: center;
}

/* #project_big {
    border-style: solid;
    height: 330px;
    width: auto;
    min-width: 658px;
    max-width: 1500px;
    margin: 15px 50px 15px 0px;
    background-image: url("https://thumbs.dreamstime.com/b/grand-bazaar-istanbul-turkey-22466729.jpg"); 
    background-size: cover;
    background-position: 0px 0px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
} */


/* Background images for small projects */

#Match {
    background-image: url("https://media.istockphoto.com/id/1022344586/photo/rugby-players-cheering-and-celebrating-win.jpg?s=612x612&w=0&k=20&c=8pvctVwczfspxPUMlA_udbOlDiMwUI2kRwBDgZJ9-Sc=");
    background-size: cover;
    background-position: 0px -110px; 
}

#Hogar {
    background-image: url("https://thumbs.dreamstime.com/b/grand-bazaar-istanbul-turkey-22466729.jpg");
    background-size: cover;
    background-position: 0px -80px; 
}

#Rec {
    background-image: url("https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: 0px -80px;
}

#Weather {
    background-image: url("https://media.istockphoto.com/id/533346005/photo/weather-forecast-concept.jpg?s=612x612&w=0&k=20&c=yplw1kbLIdcG-xG6BblsDduQn23AEtl3-_Iw-kr5mWQ=");
    background-size: cover;
    background-position: 0px -90px; 
}

#Password {
    background-image: url("https://st.depositphotos.com/1034895/2190/i/600/depositphotos_21906991-stock-photo-password.jpg");
    background-size: cover;
    background-position: 0px -140px; 
}

#Team {
    background-image: url("https://img.freepik.com/free-photo/group-diverse-people-having-business-meeting_53876-25060.jpg");
    background-size: cover;
    background-position: 0px -130px; 
}


/* Media */

@media screen {
    
}